.photo__grid {
  display: block;
  max-width: 284px;
}

@media screen and (max-width: 1279px) {
  .photo__grid {
    max-width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .photo__grid {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .photo__grid {
    max-width: 288px;
  }
}
