.places__descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  padding-bottom: 26px;
}

.places__descr:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .places__descr {
    font-size: 16px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .places__descr {
    padding-right: 16px;
    padding-left: 16px;
  }
}
